.navbar{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    justify-items: center;
}
.navbar-brand{
    grid-column-start: 2; 
    font-family: 'Alex Brush', cursive;
    color: black;
    font-size: 4rem;
}
.dropdown {
    grid-column-start: 3; 
    justify-self: end;
}
.font-title{
    font-family: 'Alex Brush', cursive;
}
.container{
    margin-top: 9.5rem;
    width: 45%;
}
body{
    font-family: 'Abel', sans-serif;
    background-image: url(../img/calendar-bg.jpeg);
}
span{
    font-family: 'Alex Brush', cursive;
    font-size: 1.8rem;
    color: black;
}
footer{
    bottom: 0;
    width: 100%;
    font-size: 1.3rem;
}

@media screen and (max-width: 850px){
    .navbar-brand{
        grid-column-start: 2; 
        font-size: 2.2rem;
    }
    .dropdown{
        grid-column-start: 2; 
    }
    .container{
        width: 75%;
        margin-top: 6rem;
    }
    span{
        font-size: 1.5rem;
    }
    footer{
        font-size: 1.1rem;
    }
}